/* Estilos de la navbar */
.navbar {
    background-color: #ffffff; /* Fondo blanco para un estilo limpio */
    border-bottom: 1px solid #e1e1e1; /* Línea sutil en la parte inferior */
    padding: 10px 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo h1 {
    font-size: 20px;
    color: #333; /* Color oscuro para el texto */
    margin: 0;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-left: 20px;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #333; /* Color oscuro para los enlaces */
    font-size: 16px;
  }
  
  .navbar-menu a:hover {
    color: #007acc; /* Color para el hover, ajusta según tu preferencia */
  }
  