<section id="main-content" class="main-content-section">
  <h2>Bienvenido a Mi Portafolio</h2>
  <p>¡Hola! Soy Thomas Reyes Ramirez. Soy un desarrollador de software en crecimiento con pasión por mejorar cada vez mas. Explora mi trabajo, conoce más sobre mi trayectoria y descubre qué me impulsa.</p>

  <section class="skills">
    <h3>Habilidades e Intereses</h3>
    <ul>
      <li>Desarrollo Web</li>
      <li>JavaScript y TypeScript</li>
      <li>Angular</li>
    </ul>
  </section>

  <section class="highlighted-projects">
    <h3>Proyectos Destacados</h3>
    <div class="project-summary">
      <h4>Proyecto Uno</h4>
      <p>Una breve descripción del Proyecto Uno, incluyendo las tecnologías utilizadas y su impacto.</p>
      <a href="#projects" class="more-details">Ver Más</a>
    </div>
    <div class="project-summary">
      <h4>Proyecto Dos</h4>
      <p>Una breve descripción del Proyecto Dos, incluyendo las tecnologías utilizadas y su impacto.</p>
      <a href="#projects" class="more-details">Ver Más</a>
    </div>
  </section>

  <section class="cta">
    <h3>¿Interesado en Colaborar?</h3>
    <p>Si te interesa trabajar juntos o conocer más sobre mi trabajo, no dudes en <a href="#contact" class="contact-link">contactarme</a>!</p>
  </section>

  <section class="testimonials">
    <h3>Lo Que Dicen Otros</h3>
    <blockquote>
      <p>opiniones - Nombre del Cliente</p>
    </blockquote>
    <blockquote>
      <p> opiniones - Nombre del Colega</p>
    </blockquote>
  </section>
</section>
